@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    10% {
        transform: scale(1.01);
    }
    45% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1.05);
    }
    55% {
        transform: scale(1.19);
    }
    90% {
        transform: scale(1.01);
    }
    to {
        transform: scale(1);
    }
}

@keyframes run {
    0% {
        transform: translate(0, 0) scale(0.97);
    }

    25% {
        transform: rotate(15grad) translate(-25px, -5px) scale(0.95);
    }

    50% {
        transform: scale(1.25) translate(30px, 0) rotate(-33grad);
    }
    70% {
        transform: translate(25px, 9px) rotate(-33grad) scale(1.21);
    }

    100% {
        transform: translate(0, 0) scale(0.97);
    }
}

@keyframes cup {
    0% {
        transform: scale(0.97);
    }
    15% {
        transform: scale(0.97) rotate(30grad);
    }
    30% {
        transform: scale(0.97) rotate(-30grad);
    }

    45% {
        transform: scale(0.97) rotate(30grad);
    }
    60% {
        transform: scale(0.97) rotate(-30grad);
    }
    68% {
        transform: scale(1) rotate(9grad);
    }

    100% {
        transform: rotate(0grad) scale(1.15);
    }
} ;
