@media (max-width: 1200px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .header {
        &__logo {
            max-width: 200px;
            img {
                width: 97%;
            }
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .benefits {
        padding: 50px 50px;
        &__wrapper {
            flex-direction: column;
        }
        &__clue {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            max-width: 200px;
            img {
                width: 92%;
            }
        }
    }

    .promo {
        &__wrapper {
            text-align: center;
        }
    }

    .benefits__wrapper {
        flex-direction: column;
    }
    .consultation {
        padding: 50px 30px;
        .title_left {
            font-size: 30px;
        }
    }

    .catalog {
        &__tab {
            font-size: 14px;
        }
    }
    .feedback {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__photo {
            margin-top: 30px;
        }
        &__data {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 435px) {
    .header {
        flex-direction: column;
        &__official {
            margin: 10px 10px;
        }
    }
    .promo {
        &__icons {
            max-width: 345px;
        }
    }
    .benefits__wrapper {
        flex-direction: column;
    }
    .catalog {
        &__tab {
            font-size: 11px;
        }
    }

    .footer {
        &__info {
            width: 378px;
            padding-top: 19px;
        }
    }
}
