.Banner_banner__3Vw6d {
    color: #28282d;
    height: 110px;
    background: radial-gradient(circle at center, #242429 56%, #000 100%);
    background-size: 11px 11px;
}
.Banner_marquee__1qRNm {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    :hover {
        animation-play-state: paused;
    }
}

@keyframes Banner_marquee__1qRNm {
    0% {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}
.Banner_title__1b7tA {
    padding: 10px 0;
    display: inline-block;
    padding-left: 100%;
    animation: Banner_marquee__1qRNm 20s linear infinite;
    font-family: robotronfontpica, sans-serif;
    font-size: 100px;
    line-height: 109px;
    text-transform: uppercase;
    color: #3ab6ec;
    letter-spacing: -0.02em;
}

@media (max-width: 1191px) {
    .Banner_banner__3Vw6d {
        height: 100px;
    }
    .Banner_title__1b7tA {
        font-size: 80px;
    }
}
@media (max-width: 767px) {
    .Banner_title__1b7tA {
        padding-top: 0px;
        font-size: 50px;
        line-height: 50px;
    }
    .Banner_banner__3Vw6d {
        height: 45px;
        color: #28282d;
        background: radial-gradient(circle at center, #242429 47%, #000 75%);
        background-size: 8px 8px;
    }
}
/////////////////////

@font-face {
    font-family: 'robotronfontpica';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/robotron-dotmatrix-font-master/robotronfontpica.woff') format('woff');
}
@font-face {
    font-family: 'robotronfontelit';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/robotron-dotmatrix-font-master/robotronfontelit.woff') format('woff');
}
@font-face {
    font-family: 'robotronfontsper';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/robotron-dotmatrix-font-master/robotronfontsper.woff') format('woff');
}
