.carousel {
    padding: 81px 0px;
    &__inner {
        //max-width: 750px;
        max-width: 75%;

        margin: 0 auto;
    }
    &__img img {
        max-width: 100%;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
}
