.feedback {
    &__data {
        margin: 60px 0 0 60px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__marathon {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #646464;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 19px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
}
