.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 99%;
        }
    }
    &__official {
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        margin: 0 10px 0 10px;
        span {
            display: block;
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        &:hover {
            color: rgb(194, 253, 226);
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &_disabled {
        display: none;
    }
}
