@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';
// *********************************************There is @media must be the last
@import 'base/media';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
